{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings":  {
    "react":  {
      "version":  "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    }
  },
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "after-used"
      }
    ]
  }
}
